<div id="opening-animation" class="opening-animation">
  <div class="opening-text-container">
    <div id="opening-text" class="opening-text"></div>
  </div>
</div>


<header class="header-home">
  <video autoplay muted loop id="video-background">
    <source src="https://res.cloudinary.com/dvzsvgucq/video/upload/v1679987616/header-video_ll7prs.mp4" type="video/mp4">
  </video>
    <div class="header-container">
      <h1 class="fade-in-slide-up delay-1s">Hey, I'm Hervé* !</h1>
      <h2 class="fade-in-slide-up delay-2s">Développeur Fullstack & Front-end</h2>
      <p>
        <span id="typed-text" style="visibility: hidden;"></span>
        <span id="custom-cursor"></span>
      </p>
      <%= link_to "En savoir plus", about_path, class: "header-button" %>
      <div class="scroll-down-indicator">
        <span class="scroll-down-arrow"></span>
      </div>
    </div>
    <div class="portrait-container">
      <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1679169254/HervePortraitsStudio20211006BD-29-removebg-preview_hr3lcw.png" alt="Hervé Nguetsop" class="portrait-image">
    </div>
</header>

  <div class="animated-bars">
    <span class="bar bar-1"></span>
    <span class="bar bar-2"></span>
    <span class="bar bar-3"></span>
    <span class="bar bar-4"></span>
    <span class="bar bar-5"></span>
    <span class="bar bar-6"></span>
    <span class="bar bar-7"></span>
    <span class="bar bar-8"></span>
    <span class="bar bar-9"></span>
    <span class="bar bar-10"></span>
    <span class="bar bar-11"></span>
    <span class="bar bar-12"></span>
    <span class="bar bar-13"></span>
    <span class="bar bar-14"></span>
  </div>

<div class="cards-container" id="cards-container">
  <div class="card-container">
    <div class="card">
      <div class="card-inner">
        <div class="card-content">
          <div class="card-front">
            <h3>Site internet</h3>
            <div class="card-image">
              <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1681663943/blackback_sy531m.jpg" alt="">
            </div>
          </div>
          <div class="card-back">
            <p>Du design de l'expérience utilisateur (prototypage Figma) au site final.</p>
            <%= link_to "Projets", projects_path, class: "card-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-inner">
        <div class="card-content">
          <div class="card-front">
            <h3>Mon parcours</h3>
            <div class="card-image">
              <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1681663943/blackback_sy531m.jpg" alt="">
            </div>
          </div>
          <div class="card-back">
            <p>Créateur de startup, Fullstack Developer, Conseiller de rugbyman international, Photographe...</p>
            <%= link_to "Voir mon parcours", about_path, class: "card-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-inner">
        <div class="card-content">
          <div class="card-front">
            <h3>App Mobile</h3>
            <div class="card-image">
              <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1681663943/blackback_sy531m.jpg" alt="">
            </div>
          </div>
          <div class="card-back">
            <p>Création d'applications mobiles pour Android et iOS.</p>
            <%= link_to "Projets", projects_path, class: "card-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="introduction-section">
  <video autoplay muted loop poster="###" id="intro-video">
    <source src="https://res.cloudinary.com/dvzsvgucq/video/upload/v1679239423/FREE_4K_Light_Leak_o8bz1x.mp4" type="video/mp4">
  </video>
  <h3>Développeur Fullstack</h3>
  <div class="intro-grid">
    <div class="intro-text" data-aos="fade-right" data-aos-duration="800">
      <div class="experience-skills">
        <div class="experience">
          <h4>Parcours</h4>
          <ul>
            <li><i class="fas fa-graduation-cap"></i> Alumni Le Wagon "Développeur Fullstack" & Diplôme RNCP Niveau 6 "Concepteur d'applications"</li>
            <li><i class="fas fa-university"></i> Master EDHEC BBA</li>
            <li><i class="fas fa-lightbulb"></i> Créateur de startup (2017- vente en 2022)</li>
            <li><i class="fas fa-camera"></i> Photographe professionnel</li>
            <li><i class="fas fa-briefcase"></i> Emplois et missions variés : droit, événementiel, sport, internationalisation, tech, formation, conseil, humanitaire...</li>
          </ul>
        </div>
        <div class="skills">
          <h4>Compétences</h4>
          <ul>
            <li><i class="fas fa-code"></i> Tech: HTML/CSS, Javascript, Python, Ruby on Rails, Bootstrap, Stimulus, Github, Heroku...</li>
            <li><i class="fas fa-paint-brush"></i> Prototypage, Design UX-UI & MVP: Figma</li>
            <li><i class="fas fa-mobile-alt"></i> Développement web et mobile: création de site vitrine & e-commerce, applications, marketplace, Wordpress, Shopify...</li>
            <li><i class="fas fa-tasks"></i> Management de projet, product owner</li>
            <li><i class="fas fa-chart-line"></i> Conseil en stratégie: marketing, communication, produit, branding, etc...</li>
          </ul>
        </div>
      </div>
    </div>
      <div class="carousel-container">
        <div class="carousel">
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680248754/raw_domwbk.jpg" class="d-block w-100" alt="Le wagon">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680025951/au_tour_du_velo-67_xzk1oj.jpg" class="d-block w-100" alt="Autour du vélo">
          </div>
          <div class="carousel-item">
            <img src="https://static.wixstatic.com/media/2f3829_dd9465a3e8d74c5c842f14727f824bc5~mv2.png/v1/fill/w_512,h_256,al_c/2f3829_dd9465a3e8d74c5c842f14727f824bc5~mv2.png" class="d-block w-100" alt="EDHEC logo">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1682092921/forbes_wjnipo.png" class="d-block w-100" alt="Hervé Nguetsop Forbes">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680023455/10557474_700836319990852_1621890215139912413_n_sglxrz.jpg" class="d-block w-100" alt="Serge Betsen Academy">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dvzsvgucq/image/upload/v1680022485/tom-sekula-7i-2GEHAgvs-unsplash_cxgu0s.jpg" class="d-block w-100" alt="Bayonne">
          </div>
      </div>
    </div>
  </div>
  <div class="intro-button">
    <%= link_to "Travaillons ensemble!", contact_path, class: "link-intro-btn" %>
  </div>
</div>

<!-- Section des parutions médiatiques -->
<div class="media-appearances-section" id="media-appearances">
  <div class="media-appearances-content">
    <h2 class="section-title">Vous aider à décoller 🚀</h2>
    <h4>Suite à mon aventure startup, voici quelques parutions médias</h4>
    <div class="media-logos-container">
      <div class="media-logos-slider">
        <img src="https://img2.freepng.fr/20180822/ybo/kisspng-logo-forbes-brand-portable-network-graphics-compan-press-id-finance-5b7cf400199381.4434985415349155841048.jpg" alt="Forbes" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/1200px-BBC_Logo_2021.svg.png" id="bbc" alt="BBC" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/L%27Equipe_logo.png" alt="L'Équipe" />
        <img src="https://upload.wikimedia.org/wikipedia/fr/0/01/Logo-Quotidien-Saison-6.png" alt="Quotidien de Yann Barthès" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Logo_TV5_Monde_-_2021.svg" alt="TV5 Monde" />
        <img src="https://dirigeants-entreprise.com/content/uploads/M6.png" alt="M6" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/France_2_2018.svg" id="fr2" alt="France 2" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Logo_RMC_2002.svg/1200px-Logo_RMC_2002.svg.png" alt="RMC Sport" />
        <img src="https://img2.freepng.fr/20180822/ybo/kisspng-logo-forbes-brand-portable-network-graphics-compan-press-id-finance-5b7cf400199381.4434985415349155841048.jpg" alt="Forbes" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/1200px-BBC_Logo_2021.svg.png" id="bbc" alt="BBC" />
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/38/LCI_-_Logo_%28Ao%C3%BBt_2017%29.svg/1200px-LCI_-_Logo_%28Ao%C3%BBt_2017%29.svg.png" alt="LCI">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Logo_C8.svg/2560px-Logo_C8.svg.png" alt="C8">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/France_3_2018.svg" alt="France 3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/France.tv_-_logo_2022.svg/2560px-France.tv_-_logo_2022.svg.png" alt="France TV">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Canal_News_logo.svg/2560px-Canal_News_logo.svg.png" alt="CNEWS">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/France_Bleu_2021.svg/2048px-France_Bleu_2021.svg.png" alt="France Bleu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Eitb_corp.png" alt="EITB">
        <img src="https://img2.freepng.fr/20180822/ybo/kisspng-logo-forbes-brand-portable-network-graphics-compan-press-id-finance-5b7cf400199381.4434985415349155841048.jpg" alt="Forbes" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/BBC_Logo_2021.svg/1200px-BBC_Logo_2021.svg.png" id="bbc" alt="BBC" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/L%27Equipe_logo.png" alt="L'Équipe" />
        <img src="https://upload.wikimedia.org/wikipedia/fr/0/01/Logo-Quotidien-Saison-6.png" alt="Quotidien de Yann Barthès" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Logo_TV5_Monde_-_2021.svg" alt="TV5 Monde" />
        <img src="https://dirigeants-entreprise.com/content/uploads/M6.png" alt="M6" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/France_2_2018.svg" id="fr2" alt="France 2" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Logo_RMC_2002.svg/1200px-Logo_RMC_2002.svg.png" alt="RMC Sport" />
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/38/LCI_-_Logo_%28Ao%C3%BBt_2017%29.svg/1200px-LCI_-_Logo_%28Ao%C3%BBt_2017%29.svg.png" alt="LCI">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Logo_C8.svg/2560px-Logo_C8.svg.png" alt="C8">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/France_3_2018.svg" alt="France 3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/France.tv_-_logo_2022.svg/2560px-France.tv_-_logo_2022.svg.png" alt="France TV">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Canal_News_logo.svg/2560px-Canal_News_logo.svg.png" alt="CNEWS">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/France_Bleu_2021.svg/2048px-France_Bleu_2021.svg.png" alt="France Bleu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Eitb_corp.png" alt="EITB">
      </div>
    </div>
  </div>
</div>

<!-- Section Témoignages -->
<div class="testimonials-section">
  <h2 class="section-title">Témoignages</h2>
  <div class="testimonials-container">
    <div class="row-1">
      <div id="testimonial-1" class="testimonial-card" data-aos="fade-up" data-aos-delay="100" data-testimonial="1">
        <div class="testimonial-image-wrapper">
          <img src="https://www.designfdna.org/sites/default/files/styles/carre/public/contenu/membres/florian-auger/photo/photo-de-florian-auger.jpg?itok=4bpdA7tl" alt="Nom du client 1" class="testimonial-image">
        </div>
        <div class="testimonial-info">
          <h4 class="testimonial-name">Florian Auger</h4>
          <p class="testimonial-role">CEO - Outercraft</p>
        </div>
      </div>
      <div id="testimonial-2" class="testimonial-card" data-aos="fade-up" data-aos-delay="200" data-testimonial="2">
        <div class="testimonial-image-wrapper">
          <img src="https://lepetitjournal.com/sites/default/files/styles/main_article/public/2022-05/Serge%20-%20photo%20quiz%281%29.jpeg?itok=aZdPXnsK" alt="Nom du client 2" class="testimonial-image">
        </div>
        <div class="testimonial-info">
          <h4 class="testimonial-name">Serge Betsen</h4>
          <p class="testimonial-role">Ancien capitaine du XV de France</p>
        </div>
      </div>
      <div id="testimonial-3" class="testimonial-card" data-aos="fade-up" data-aos-delay="300" data-testimonial="3">
        <div class="testimonial-image-wrapper">
          <img src="https://media.licdn.com/dms/image/C5603AQH-ZWUMbVGx7w/profile-displayphoto-shrink_800_800/0/1609152945990?e=2147483647&v=beta&t=4rVZo4pt4h4QluygnoD8t5xl239PTc0AgZnJPXF0p9k" alt="Nom du client 3" class="testimonial-image">
        </div>
        <div class="testimonial-info">
          <h4 class="testimonial-name">François Lempereur</h4>
          <p class="testimonial-role">Consultant Média-Affaires Publiques</p>
        </div>
      </div>
      <div id="testimonial-4" class="testimonial-card" data-aos="fade-up" data-aos-delay="400" data-testimonial="4">
        <div class="testimonial-image-wrapper">
          <img src="https://media.licdn.com/dms/image/C4E03AQF7xoJblrGtVQ/profile-displayphoto-shrink_400_400/0/1573432030916?e=1683158400&v=beta&t=FsUN0EH4BqramUsxsfVsxGpTnXsXkL78e9NlNt-rM7Y" alt="Nom du client 4" class="testimonial-image">
        </div>
        <div class="testimonial-info">
          <h4 class="testimonial-name">Odile Prévot-Mussat</h4>
          <p class="testimonial-role">Managing Parter - OM Law & Advisory</p>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div id="testimonial-5" class="testimonial-card" data-aos="fade-up" data-aos-delay="500" data-testimonial="5">
        <div class="testimonial-image-wrapper">
          <img src="https://hellomybusiness.fr/wp-content/uploads/2021/05/1611074903506.jpeg" alt="Nom du client 5" class="testimonial-image">
        </div>
        <div class="testimonial-info">
          <h4 class="testimonial-name">Danie</h4>
          <p class="testimonial-role">Law</p>
        </div>
      </div>
        <div class="testimonial-card" id="testimonial-6" data-aos="fade-up" data-aos-delay="600">
          <div class="testimonial-image-wrapper">
            <img src="https://media.licdn.com/dms/image/C4D03AQHldQfj126wrg/profile-displayphoto-shrink_800_800/0/1600005455734?e=2147483647&v=beta&t=FX1q1aiDao8U2ZOxeZJucabf0XWAp8miEIYzIMNJ3VI" alt="Nom du client 5" class="testimonial-image">
          </div>
          <div class="testimonial-info">
            <h4 class="testimonial-name">Maélie Poussier</h4>
            <p class="testimonial-role">Lead Teacher - Le Wagon</p>
          </div>
        </div>
        <div class="testimonial-card" id="testimonial-7" data-aos="fade-up" data-aos-delay="700">
          <div class="testimonial-image-wrapper">
            <img src="https://i.ytimg.com/vi/BFPcTHfbt2E/maxresdefault.jpg" alt="Nom du client 5" class="testimonial-image" />
          </div>
          <div class="testimonial-info">
            <h4 class="testimonial-name">Jean-Baptiste Ancelot</h4>
            <p class="testimonial-role">CEO - Wine Explorers</p>
          </div>
        </div>
        <div class="testimonial-card" id="testimonial-8" data-aos="fade-up" data-aos-delay="800">
          <div class="testimonial-image-wrapper">
            <img src="https://hellomybusiness.fr/wp-content/uploads/2021/05/1611074903506.jpeg" alt="Nom du client 5" class="testimonial-image" />
          </div>
          <div class="testimonial-info">
            <h4 class="testimonial-name">Alexis Stephan</h4>
            <p class="testimonial-role">CEO - Hello My Business</p>
          </div>
        </div>
        <div class="testimonial-card" id="testimonial-9" data-aos="fade-up" data-aos-delay="900">
          <div class="testimonial-image-wrapper">
            <img src="https://media.licdn.com/dms/image/C4D03AQERxKNJq0dcbg/profile-displayphoto-shrink_800_800/0/1630613830009?e=2147483647&v=beta&t=e2eUCaxif_QUzx-vlsh5QI3hUGULmhmYjy3fdobEX-s" alt="Nom du client 5" class="testimonial-image" />
          </div>
          <div class="testimonial-info">
            <h4 class="testimonial-name">Sébastien Gachen</h4>
            <p class="testimonial-role">CEO - EGIA Capital</p>
          </div>
        </div>
      </div>
  </div>
</div>

<!--
<div class="blog-preview-section">
  <h2>Blog</h2>
  <div class="blog-posts">
    <% if @posts.present? %>
      <%#= render @posts, partial: 'posts/post_preview' %>
    <% else %>
      <p>Aucun article de blog pour le moment.</p>
    <% end %>
  </div>
</div>
-->
