<h1>Modifier l'article</h1>

<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, "Contenu" %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit "Mettre à jour l'article" %>
<% end %>

<%= link_to "Annuler", post_path(@post) %>
