<div class="edit-post-container">
  <h1 class="edit-post-title">Modifier l'article</h1>

  <%= form_with(model: @post) do |form| %>
    <div class="field">
      <%= form.label :title, "Titre" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content, "Contenu" %>
      <%= form.rich_text_area :content %>
    </div>

    <div class="edit-post-buttons">
      <%= form.submit "Enregistrer les modifications", class: "edit-post-button" %>
      <%= link_to "Annuler", post_path(@post), class: "edit-post-button" %>
    </div>
  <% end %>
</div>
