<div class="edit-post-container">
  <h1 class="edit-post-title">Modifier l'article</h1>

  <%= form_with(model: @post) do |form| %>
    <div class="field">
      <%= form.label :title, "Titre" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content, "Contenu" %>
      <div class="editor"></div>
      <%= form.hidden_field :content, id: "post_content", value: @post.content %>
    </div>

    <div class="field">
      <%= form.label :cover_image, "Image de couverture" %>
      <%= form.file_field :cover_image %>
    </div>

    <div class="edit-post-buttons">
      <%= form.submit "Enregistrer les modifications", class: "edit-post-button" %>
      <%= link_to "Annuler", post_path(@post.slug), class: "edit-post-button cancel" %>
    </div>
  <% end %>
</div>
