<div class="show-post-container">
  <div class="show-post-header">
    <figure class="show-post-image-container">
      <img class="show-post-image" src="<%= url_for(@post.cover_image.present? ? @post.cover_image : 'default.jpg') %>" alt="<%= @post.title %>">
    </figure>
    <h1 class="show-post-title"><%= @post.title %></h1>
  </div>
  <div class="show-post-content">
    <p><%= @post.content %></p>
  </div>
  <div class="show-post-buttons">
    <%= link_to "Revenir à la liste des articles", blog_path, class: "show-post-button" %>
    <% if user_signed_in? %>
      <%= link_to "Modifier l'article", edit_post_path(@post.slug), class: "show-post-button" %>
      <%= link_to "Supprimer l'article", post_path(@post.slug), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet article ?" }, class: "show-post-button" %>
    <% end %>
  </div>
</div>
