<!DOCTYPE html>
<html>
  <head>
    <title>Hervé Nguetsop - Développeur Web Fullstack & Front-end</title>
    <meta name="description" content="Découvrez les services de RNVG, un développeur web et designer UX/UI, spécialisé dans la création de sites web et d'applications mobiles modernes et performants.">
    <meta name="keywords" content="développeur web, designer UX/UI, création sites web, applications mobiles, RNVG">
    <meta name="author" content="RNVG">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Hotjar Tracking Code for RVNG -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3465344,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'components/intro-home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'fav-rv.jpg' %>
    <link rel="stylesheet" href="/assets/components/medias.css">
    <link rel="stylesheet" href="/assets/components/navbar.css">
    <link rel="stylesheet" href="/assets/components/home-cards.css">
    <link rel="stylesheet" href="/assets/components/testimonials.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" />
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/scrolling_contact" %>
    <%= render "layouts/footer" %>
    <%= render "layouts/audioplayer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<!--    <% if user_signed_in? %>
      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path %>
      <%= link_to 'S\'inscrire', new_user_registration_path %>
    <% end %>
-->
  </body>
</html>
